.idea
*.iml
target
*~
*.pyc
*.xwam
spacer-build
bddbddb-full.jar
__init__.py
*.sublime-workspace
.z3-trace
*.cmi
*.cmo
*.o
*.cmx
amdl-compiler/amdlc
amdl-compiler/src/amdl_parser.mli
amdl-compiler/src/amdl_parser.ml
amdl-compiler/src/amdl_tokens.ml
build
._d
._bcdi
._ncdi
